body{
    background: linear-gradient(to right, #7EA1C4 50%, #FCF5E5 50%);
    padding: 0px;
    margin: 0px;
    background-color:#FCF5E5;
    height: 100vh;
}

nav{
    background-color: #9DBA77;
    color: #16264C ;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    float: left;
    color: rgb(31, 31, 31);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

article{
    display: flex;
}

.img-container{
    height: 100vh;
    width: 50vw;
    text-align: center;
}

.main-pic{
    height: auto;
    width: auto;
    border-radius: 25px;
    padding-top: 200px;
}

.story-container{
    height: 100vh;
    width: 50vw;
    padding-top: 150px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.story-description{
    padding: 25px;
    font-size: 35px;
}

.story-container h1{
    font-size: 90px;
} 

