body{
    background: linear-gradient(to right, #EED8BF 50%, #FFFFF0 50%);
    height: 100vh;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    float: left;
    color: rgb(31, 31, 31);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

article{
    display: flex;
}

.img-container{
    height: 100vh;
    width: 50vw;
    text-align: center;
}

.main-pic{
    height: auto;
    width: 700px;
    border-radius: 25px;
    padding-top: 200px;
}

.story-container{
    height: 100vh;
    width: 50vw;
    padding-top: 150px;
    text-align: center;

}

.story-description{
    padding: 25px;
    font-size: 23px;
}

.story-container h1{
    font-size: 50px;
} 

